{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^[^./]",
    "^/(.*)$",
    "^[./].*(?<!\\.(css|scss|sass|less))$",
    "\\.(css|scss|sass|less)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5"
}